	
*,
*::before,
*::after {
  box-sizing: border-box;
}


h1 {
    font-family: var(--font-Alpha-slab-one);
    font-weight: normal;
    font-size: 35px;
  }
  
  
  h2 {
    font-family: var(--font-Alpha-slab-one);
    font-weight: normal;
    font-size: 25px;
  }

  h3{
      font-family: var(--font-Alpha-slab-one);
      font-weight: bolder;
      font-size: 20px;
  }
  
  h4{
    font-family: var(--font-Alpha-slab-one);
    font-weight: bold;
    font-size: 16px ;
  }
  
  
  p{
    font-family: var(--font-poppins);
    line-height: 20px;
    font-size: 12px;
  }
  
