	
*,
*::before,
*::after {
  box-sizing: border-box;
}


h1 {
    font-family: var(--font-Alpha-slab-one);
    color: white;
    font-weight: normal;
    font-size: 35px;
  }
  
  
  h2 {
    font-family: var(--font-Alpha-slab-one);
    font-weight: bold;
    color: #081526;
    font-size: 25px;
  }

  h3{
      font-family: var(--font-Alpha-slab-one);
      font-weight: bolder;
      font-size: 20px;
  }
  
  h4{
    font-family: var(--font-Alpha-slab-one);
    font-weight: bold;
    font-size: 16px ;
  }
  
  
  p{
    font-family: var(--font-poppins);
    line-height: 20px;
    font-size: 12px;
  }

  .images155{
    width: 6600px;
	height: 410px;
	left:0;
    
  }

  .carrousel5 {
      width: 375px;
      height:410px;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    
  }

  .image155{
      position: absolute;
      top: 0;
      left: 0;
      width: 300px;
      height:323px;
      margin: 0;

      
  }

  figcaption{
      background-color: white;
      margin-top: 0;

  }
