.footer{
    background-color: #D94D1A;
    color: white;
    
}


.footer__logo-mmi{
    display: flex;
    justify-content: center;
}

.footer__p{
    display: flex;
    justify-content: center;
}

.footer__icone{
    padding-left: 50px;
    padding-top: 20px;
}

.separation{
    width: 200px;
    margin-left: 80px;
    height: 3px;
    background-color: white ;
}