.footer{
    background-color: #D94D1A;
    color: white;
    
}


.footer__logo-mmi{
    display: flex;
    justify-content: center;
}

.footer__p{
    display: flex;
    justify-content: center;
}

.footer__icone{
    padding-left: 90px;
    padding-top: 20px;
    margin-bottom: -40px;
}

.separation{
    width: 200px;
    margin-left: 80px;
    height: 3px;
    background-color: white ;
}

.mentions-legales{
    margin: 0;
    font-size: 8px;
    padding-left: 10px;
}

.footer__logommi{
    margin: auto;
    display: block;
    padding-top: 20px;
    padding-bottom: 10px;
}