.header{
    background-color: #F26B1D;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 3;
}
.header--accueil {
    background-color: transparent;
    color: white; 
}

.header__logo{
    margin-left: calc(50% - 80px);
    z-index: 5;
}

.logo__size{
    width: 40px;
}

.header__icone-menu{
    padding-top: 20px;
    padding-left: 15px;
    width: 60px;
    z-index: 2;
}

.header--accueil p {
    display: flex;
    justify-content: center;
}

.header__accueil h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.header__grand-logo-accueil{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.grand-logo{
     width: 200px;
}


