.card__accueil{
    border: 10px solid #081526;
    position: relative;
}

.card__accueil::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(30deg);
    background-color: #081526;
    color: white;
}

.card__accueil p {
    color: white;
    
}

.card__accueil h3{
    color: white;
}

.main__paragraphe-accueil{
    margin-bottom: 80px;
    margin-top: 80px;
    padding: 30px;
    background-color: #081526;
    color: #92B9D2;
}