.main__article1{
    background-image: url("../../../public/img/images/article1/article1fond.jpg");
    margin-top: -25px;
    height: 130vw;}

.image__article1-milieu{
   margin-left: 100px;

}

.main__article{
    margin: 20px;
}

.fleche__article{
    transform: rotate(90deg);
    margin-left: 150px;
    margin-bottom: -250px;
}

